{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}

<body>
<main>
<div class="custom-body">
    <h4>Forgot Password?</h4>
    <p>Enter your email to receive a password reset link</p>
<div class="custom-main">
<form name="forgotPasswordForm" id="forgotPasswordForm" action="/forgot_password" method="POST">
    <div class="custom-form-row">
        <label for="name">Email:</label>
        <input class="form-control-sm custom-form-input" name="email" id="email" type="email" placeholder="email">
    </div>
    <div class="custom-form-row">
        <input class="btn btn-primary" type="submit" id="submit">
    </div>
</form>
    <div class="custom-form-row">
        <p id="result" class="error">{{ error }}</p>
    </div>
</div>
</div>
</main>
</body>

{% include 'footer.html' %}

{% endblock %}

