{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}

<body>
<main>
<div class="custom-body">
    <h4>Reset Password</h4>
    <p>Enter a new password</p>
<div class="custom-main">
<form name="resetPasswordForm" id="resetPasswordForm" action="/reset_password/{{token}}" method="POST">
    <div class="custom-form-row" style="padding-left:65px;">
        <label for="name">Password:</label>
        <input class="form-control-sm custom-form-input" name="password" id="password" type="password" placeholder="password">
    </div>
    <div class="custom-form-row" style="padding: 0;"><p id="passwordError" class="error"></p></div>
    <div class="custom-form-row">
        <label for="name">Confirm Password:</label>
        <input class="form-control-sm custom-form-input" name="confirmPassword" id="confirmPassword" type="password" placeholder="confirm password">
    </div>
    <div class="custom-form-row" style="padding: 0;"><p id="confirmPasswordError" class="error"></p></div>
    <div class="custom-form-row">
        <input class="btn btn-primary" type="submit" id="submit">
    </div>
</form>
    <div class="custom-form-row">
        <p id="result" class="error">{{ error }}</p>
    </div>
</div>
</div>
</main>
</body>
<script src="{{ url_for('static', filename='/javascript/account/reset_password.js') }}"></script>
{% include 'footer.html' %}

{% endblock %}

