.custom-main{
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.custom-row{
    display:flex;
    justify-content:center;
    padding:20px;
}
.custom-form-row{
    display:flex;
    justify-content:center;
    padding:5px;
}
.custom-form-input{
    width:200px;
}