{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}
{% include 'navbar.html' %}
<div class="custom-body">

<form action="/plane_data/{{plane_id}}/add_new_engine" method="POST" style="display:flex; flex-direction: column; align-content:center;">
    <label>Engine serial number
        <input class="form-control" type="text" name="engine-serial">
    </label>
    <label>Tach hours on engine
        <input class="form-control" type="number" name="engine-hours">
    </label>
    <label>Tach hours since last overhaul
        <input class="form-control" type="number" name="overhaul-hours">
    </label>
    <input class="btn btn-primary" type="submit">
</form>
<p class="error">{{error}}</p>

</div>

{% include 'footer.html' %}
{% endblock %}
