{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<body>
<main>
<div class="custom-body">
{% if not current_user.is_authenticated %}
<div class="custom-main">
<div class="custom-row">
    <a href='/login' class="btn btn-secondary">Log in</a>
</div>
<div class="custom-row">
    <a href="/register" class="btn-link">register</a>
</div>
</div>
{% else %}
<div class="custom-body">
    <p>Welcome {{ current_user.name }}</p>
    {% include 'plane_selection.html' %}
</div>

{% endif %}
</div>
</main>
</body>
{% include 'footer.html' %}

{% endblock %}