{% block content %}
<nav class="dark-toggle navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if current_user.is_admin %}
                <li class="nav-item">
                     <a class="nav-link active navbar-btn" aria-current="page" href="/admin">Admin</a>
                </li>
                {% endif %}
            </ul>

             <ul class="navbar-nav ms-auto">
                 {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link navbar-btn" href="#">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-btn" href="/logout">Logout</a>
                </li>
                {% else %}
                 <li class="nav-item">
                     <a class="nav-link navbar-btn" href="/login">Login</a>
                 </li>
                 {% endif %}
            </ul>

        </div>
    </div>
</nav>
{% endblock %}