{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}

<body>
<main>
<div class="custom-body" >

<h3>{{plane.name}}  -  {{ plane.id }}</h3>
<table style="width: 100vw;" class="table table-striped custom-table">
    <thead>
    <tr>
        <th>---</th><th>Tach</th><th>Hobbs(interpolated)</th>
    </tr>
    </thead>
    {% for time_entry in time_table %}
    <tr>
    <td>---</td><td>{{time_entry.tach_time}}</td><td>{{ "%.1f" | format(time_entry.tach_time * 1.2) }}</td>
    </tr>
    {% endfor %}
    <tr>
        <form id="tach_time_form" action="/add_time_entry" method="POST">
        <td><input id="time_submit" class="btn btn-link" value="Add" type="submit"></td><td><input id="tach_time" class="custom-table-input" name="tach_time" type="text"></td><td>---</td>
        </form>
    </tr>
</table>
    <p id="timeEntryError" class="error"></p>
<div style="margin-top:10vh;">
<h2>Maintenance Schedule</h2>
<table class="table table-striped custom-table">
<thead>
<tr>
    <td>item</td><td>date due</td></td><td>time due(tach)</td><td>complete</td>
</tr>
</thead>
    <tr>
        <form action="/add_maintenance_entry" method="POST">
            <td><input style="width:150px;" name="description" type="text"></td><td><input class="custom-table-input" name="date_due" type="text"></td><td><input class="custom-table-input" name="tach_due" type="text"></td><td><input class="btn btn-link" value="Add" type="submit"></td>
        </form>
    </tr>
{% for maintenance_item in maintenance_table %}
    <tr>
        <td>{{ maintenance_item.description }}</td><td>{{ maintenance_item.due_time }}</td><td>{{ maintenance_item.due_tach }}</td><td>{{ maintenance_item.status }}</td>
    </tr>
{% endfor %}
</table>
</div>
</div>

</main>
</body>
<script src="{{ url_for('static', filename='plane_data.js') }}"></script>
{% include 'footer.html' %}

{% endblock %}

