{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}
{% include 'navbar.html' %}

<body>
<main>
<div class="custom-body">
<div style="display:flex; flex-direction:column; align-items:center;">
<h3 id="plane">{{plane.name}}  -  {{ plane.id }}: {{plane.tach_hours}} (tach hours)</h3>
<div style="display:flex; align-items:center;">
<h6>Pilot: {{current_user.name}}: {{current_user.hobbs_time | round(2)}} (hobbs time)</h6>
</div>
<div style="display:flex; align-items:center; margin-top: 10px;">
<h6 id="engine">Engine: {{engine.serial}}: {{ engine.tach_hours }} (tach hours)</h6><a onclick="if(confirm('Are you sure?')){}else{event.preventDefault()}" href="/plane_data/{{plane.id}}/add_new_engine" class="btn btn-link">New engine</a>
</div>
<div style="display:flex; align-items:center;">
<h6>Since Major Overhaul: {{ engine.get_latest_overhaul().tach_hours }}</h6><a onclick="if(confirm('Are you sure?')){}else{event.preventDefault()}" href="/plane_data/{{engine.id}}/overhaul" class="btn btn-link">overhaul</a>
</div>
</div>
<table style="width: 100vw;" class="table table-striped custom-table table-dark">
    <thead>
    <tr>
        <th>Time</th><th>Tach</th><th>Hobbs</th><td></td>
    </tr>
    </thead>
    {% for time_entry in time_table %}
    <tr id="time_entry_id_{{ time_entry.id }}">
    <td>{{ time_entry.created.strftime("%y-%m-%d") }}</td><td><p id="tach_time_{{time_entry.id}}">{{time_entry.tach_time}}</p><input id="edit_field_{{time_entry.id}}" type="text" class="hidden custom-table-input"></td><td><p id="hobbs_time_{{time_entry.id}}">{{ "%.1f" | format(time_entry.tach_time * 1.2) }}</p></td><td><div id="edit-btn-row"><a id="editBtn" data-entryid="{{time_entry.id}}" class="btn btn-link">edit</a><a onclick="if(confirm('Are you sure?')){}else{event.preventDefault()}" href="/deleteTimeEntry/{{time_entry.id}}" class="btn btn-link">delete</a></div><div class="hidden" id="save-btn-row"><a id="saveBtn" data-entryid="{{time_entry.id}}" class="btn btn-link">save</a><a id="cancelBtn" data-entryid="{{time_entry.id}}" class="btn btn-link">cancel</a></div></td>
    </tr>
    {% endfor %}
    <tr>
        <form id="tach_time_form" action="/add_time_entry" method="POST">
        <td><input id="time_submit" class="btn btn-link" value="Add" type="submit"></td><td><input id="tach_time" class="custom-table-input" name="tach_time" type="text"></td><td>---</td><td></td>
        </form>
    </tr>
</table>
    <a class="btn btn-link" href="/time_table/plane_{{plane.id}}">View all</a>
    <p id="timeEntryError" class="error"></p>
<div style="margin-top:10vh;">
<h2>Maintenance Schedule</h2>
<table class="table table-striped custom-table" id="maintenance_table">
<thead>
<tr>
    <td>item</td><td>date due</td></td><td>time due(tach)</td><td>complete</td>
</tr>
</thead>
    <tr>
            <td><a href="/plane_data/{{ plane.id }}/add_maintenance_item" class="btn btn-link">Add</a></td><td></td><td></td><td></td>
    </tr>
{% for maintenance_item in maintenance_table %}
    <tr data-maintenance_type="{{ maintenance_item.maintenance_type }}" data-interval="{{ maintenance_item.interval }}" data-interval_hours="{{ maintenance_item.interval_hours }}" data-interval_months="{{ maintenance_item.interval_months }}">
    {% set due_tach_formatted = maintenance_item.due_tach if maintenance_item.due_tach is not none else '---'%}
    {% if maintenance_item.due_date is not none %}
    {% set due_date_formatted = maintenance_item.due_date.strftime('%Y-%m-%d') %}
    {% else %}
    {% set due_date_formatted = '---' %}
    {% endif %}
        <td>{{ maintenance_item.description }}</td><td>{{ due_date_formatted }}</td><td>{{ due_tach_formatted }}</td>
        <td>
            <div id="maintenance_item_dropdown" class="form-floating">
                <select data-id="{{maintenance_item.id}}" style="height: 10px;" class="form-select" id="floatingSelect">
                    <option value="incomplete">incomplete</option>
                    <option value="complete">complete</option>
                    <option value="delete">delete</option>
                </select>
                    <label for="maintenance_item_dropdown">Status</label>

            </div>
        </td>
    </tr>
{% endfor %}
</table>
</div>
</div>

<div id="modal" class="modal-overlay">
  <div class="modal-box">
    <button id="closeBtn" class="modal-close">×</button>
    <h3>Hello!</h3>
    <p>This is a modal popup.</p>
  </div>
</div>

</main>
<a id="test-btn" class="btn btn-link">test</a>
</body>
<script src="{{ url_for('static', filename='plane_data.js') }}"></script>
<!-- <script src="{{ url_for('static', filename='modal_popup.js') }}"></script> -->
<script src="{{ url_for('static', filename='edit_entry.js') }}"></script>
<script src="{{ url_for('static', filename='dropdown.js') }}"></script>
{% include 'footer.html' %}

{% endblock %}

