{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}
{% include 'navbar.html' %}
<div class="custom-body">


<div style="display:flex; flex-direction:column; align-items:center;">
    <div style="display:flex; flex-direction:column; align-items:center;">
    <h3 id="plane">{{plane.name}}  -  {{ plane.id }}: {{plane.tach_hours}} (tach hours)</h3>
    <div style="display:flex; align-items:center;">
    <h6>Pilot: {{current_user.name}}: {{current_user.hobbs_time | round(2)}} (hobbs time)</h6>
    </div>
    <h3>Engines</h3>
<table style="width: 100vw;" class="table table-striped custom-table table-dark">
    <thead>
        <th>Created</th><th>Engine</th><th>Num overhauls</th><th>Num Entries</th>
    </thead>
    {% for engine in engine_table %}
    <tr>
        <td>{{engine.created.strftime("%y-%m-%d")}}</td><td>{{engine}}</td><td>{{engine.overhauls | length}}</td><td>{{engine.time_entries | length }}</td>
    </tr>
    {% endfor %}
</table>
<h3>Time Table</h3>
<table style="width: 100vw;" class="table table-striped custom-table table-dark">
    <thead>
    <tr>
        <th>Time</th><th>Tach</th><th>engine id</th><th>overhaul id</th>
    </tr>
    </thead>
    {% for time_entry in time_table %}
    <tr id="time_entry_id_{{ time_entry.id }}">
    <td>{{ time_entry.created.strftime("%y-%m-%d") }}</td><td><p id="tach_time_{{time_entry.id}}">{{time_entry.tach_time}}</p><input id="edit_field_{{time_entry.id}}" type="text" class="hidden custom-table-input"></td><td>{{time_entry.engine_id}}</td><td>{{time_entry.overhaul_id}}</td>
    </tr>
    {% endfor %}
</table>
</div>
<p id='error' class="error">{{error}}</p>

</div>
<script src="{{ url_for('static', filename='add_maintenance_item.js') }}"></script>
{% include 'footer.html' %}
{% endblock %}
