{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %} {% block content %}

{% include 'navbar.html' %}
<body>
<main>
<div class="custom-body">
    <div class="custom-main">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Date</th><th>Version</th><th>description</th>
            </tr>
            </thead>
            <tr>
                <td>7-17-2026</td><td>0.03.50</td><td><p>added remember session to all login routes</p><p></p></td>
            </tr>
            <tr>
                <td>7-16-2026</td><td>0.03.49</td><td><p>added changelog</p><p></p></td>
            </tr>
            <tr>
                <td>7-14-2026</td><td>0.03.48</td><td><p>fixed a bug that prevented users from registering new accounts</p><p></p></td>
            </tr>
            <tr>
                <td>7-09-2026</td><td>0.03.47</td><td><p>added google adsense script</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.46</td><td><p>added admin login_as function</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.45</td><td><p>fixed app config settings to allow external url_for use</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.44</td><td><p>password reset form validation</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.43</td><td><p>password reset route functioning</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.43</td><td><p>added user model email value unique constraint</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.42</td><td><p>removed herobrine</p><p></p></td>
            </tr>
            <tr>
                <td>7-07-2026</td><td>0.03.41</td><td><p>prevent user from registering more than one account per email address</p><p></p></td>
            </tr>
            <tr>
                <td>7-06-2026</td><td>0.03.40</td><td><p>added forgot and reset password routes and templates</p><p></p></td>
            </tr>
            <tr>
                <td>7-06-2026</td><td>0.03.40</td><td><p>fixed the register form validation javascript not loading</p><p></p></td>
            </tr>
            <tr>
                <td>7-03-2026</td><td>0.03.39</td><td><p>changed copyright 2025 to 2026</p><p></p></td>
            </tr>
            <tr>
                <td>7-03-2026</td><td>0.03.38</td><td><p>added 'total entries' to admin panel</p><p></p></td>
            </tr>
            <tr>
                <td>7-03-2026</td><td>0.03.37</td><td><p>added admin panel</p><p></p></td>
            </tr>
            <tr>
                <td>7-01-2026</td><td>0.03.36</td><td><p>added title and favicon.ico</p><p></p></td>
            </tr>
            <tr>
                <td>7-01-2026</td><td>0.03.35</td><td><p>fixed a bug that caused the latest engine to not appear and initial_tach_hours to be added incorrectly as tach_hours</p><p></p></td>
            </tr>
            <tr>
                <td>7-01-2026</td><td>0.03.34</td><td><p>new maintenance items now start incomplete</p><p></p></td>
            </tr>
            <tr>
                <td>7-01-2026</td><td>0.03.33</td><td><p>"edit maintenance item" page now appears populated when loaded</p><p></p></td>
            </tr>
            <tr>
                <td>6-30-2026</td><td>0.03.32</td><td><p>deleted obsolete template</p><p></p></td>
            </tr>
            <tr>
                <td>6-30-2026</td><td>0.03.31</td><td><p>passed the maintenance item id to the template to allow adding a new maintenance item correctly</p><p></p></td>
            </tr>
            <tr>
                <td>6-29-2026</td><td>0.03.30</td><td><p>completed add maintenance item route to allow editing maintenance items</p><p></p></td>
            </tr>
            <tr>
                <td>6-29-2026</td><td>0.03.29</td><td><p>editing maintenance items now uses the add maintenance item route to remove duplicate routes</p><p></p></td>
            </tr>
            <tr>
                <td>6-29-2026</td><td>0.03.28</td><td><p>added maintenance item edit button and route</p><p></p></td>
            </tr>
            <tr>
                <td>6-29-2026</td><td>0.03.27</td><td><p>fixed "since major overhaul" text on data page now correctly selects the latest overhaul</p><p></p></td>
            </tr>
            <tr>
                <td>6-29-2026</td><td>0.03.26</td><td><p>fixed a bug that caused the latest overhaul to not be displayed on the plane data page</p><p></p></td>
            </tr>
            <tr>
                <td>6-24-2026</td><td>0.03.25</td><td><p>added update_Totals and getRecentEntries functions</p><p></p></td>
            </tr>
            <tr>
                <td>6-24-2026</td><td>0.03.24</td><td><p>updated requirements.txt</p><p></p></td>
            </tr>
            <tr>
                <td>6-19-2026</td><td>0.03.23</td><td><p>added view engine route</p><p></p></td>
            </tr>
            <tr>
                <td>6-19-2026</td><td>0.03.22</td><td><p>removed unclosed div on view all page</p><p></p></td>
            </tr>
            <tr>
                <td>6-19-2026</td><td>0.03.21</td><td><p>added an "engine table" to the view all route</p><p></p></td>
            </tr>
            <tr>
                <td>6-19-2026</td><td>0.03.20</td><td><p>"View all" route to access entire timetable</p><p></p></td>
            </tr>
            <tr>
                <td>6-19-2026</td><td>0.03.19</td><td><p>removed unnecessary console.log statements</p><p></p></td>
            </tr>
            <tr>
                <td>6-19-2026</td><td>0.03.18</td><td><p>maintenance item status correctly displays on page load</p><p></p></td>
            </tr>
            <tr>
                <td>6-18-2026</td><td>0.03.17</td><td><p>update fetch maintenance item js function</p><p></p></td>
            </tr>
            <tr>
                <td>6-17-2026</td><td>0.03.16</td><td><p>page refreshes when deleting maintenance items</p><p></p></td>
            </tr>
            <tr>
                <td>6-17-2026</td><td>0.03.15</td><td><p>added maintenance item status dropdown field</p><p></p></td>
            </tr>
            <tr>
                <td>6-16-2026</td><td>0.03.14</td><td><p>pilot hobbs time now rounded to the nearest 2 decimal places</p><p></p></td>
            </tr>
            <tr>
                <td>6-16-2026</td><td>0.03.13</td><td><p>the edit field appears populated</p><p></p></td>
            </tr>
            <tr>
                <td>6-16-2026</td><td>0.03.12</td><td><p>time field no longer appears as "NaN" after editing</p><p></p></td>
            </tr>
            <tr>
                <td>6-16-2026</td><td>0.03.11</td><td><p>added edit button backend</p><p></p></td>
            </tr>
            <tr>
                <td>6-16-2026</td><td>0.03.10</td><td><p>change showEditFields function argument name in the edit_entry.js file</p><p></p></td>
            </tr>
            <tr>
                <td>6-16-2026</td><td>0.03.09</td><td><p>added a cancel button to the edit route</p><p></p></td>
            </tr>
            <tr>
                <td>6-15-2026</td><td>0.03.08</td><td><p>fixed a bug that prevented the editing of any entry apart from the last one</p><p></p></td>
            </tr>
            <tr>
                <td>6-12-2026</td><td>0.03.07</td><td><p>change "tach hours" on aircraft to "total hours"</p><p></p></td>
            </tr>
            <tr>
                <td>6-12-2026</td><td>0.03.06</td><td><p>add edit button on the frontend</p><p></p></td>
            </tr>
            <tr>
                <td>6-12-2026</td><td>0.03.05</td><td><p>add 'are you sure?' dialogue to delete and overhaul buttons etc</p><p></p></td>
            </tr>
            <tr>
                <td>6-12-2026</td><td>0.03.04</td><td><p>add delete button route</p><p></p></td>
            </tr>
            <tr>
                <td>6-11-2026</td><td>0.03.03</td><td><p>add delete button on the frontend</p><p></p></td>
            </tr>
            <tr>
                <td>6-11-2026</td><td>0.03.02</td><td><p>hobbs time now calculates on page load</p><p></p></td>
            </tr>
            <tr>
                <td>6-11-2026</td><td>0.03.01</td><td><p>normalized data structure, total time now calculates on page load</p><p></p></td>
            </tr>
            <tr>
                <td>6-10-2026</td><td>0.02.52</td><td><p>timetable now only shows the latest overhaul</p><p></p></td>
            </tr>
            <tr>
                <td>6-10-2026</td><td>0.02.51</td><td><p>added a class method for retrieving latest engine</p><p></p></td>
            </tr>
            <tr>
                <td>6-10-2026</td><td>0.02.50</td><td><p>new time entries are now created with an engine and overhaul relation</p><p></p></td>
            </tr>
            <tr>
                <td>6-9-2026</td><td>0.02.49</td><td><p>added alembic naming convention to fix migration</p><p></p></td>
            </tr>
            <tr>
                <td>6-8-2026</td><td>0.02.48</td><td><p>added an engine and overhaul relationship to the timeEntry model</p><p></p></td>
            </tr>
            <tr>
                <td>6-5-2026</td><td>0.02.47</td><td><p>fixed the timetable to show the 5 most recent instead of the last 5</p><p></p></td>
            </tr>
            <tr>
                <td>6-4-2026</td><td>0.02.46</td><td><p>fixed the ability to enter a float value when adding a new engine</p><p>added nullable value to maintenance items</p></td>
            </tr>
            <tr>
                <td>6-4-2026</td><td>0.02.45</td><td><p>maintenance items can now be added with only one value for due-ness (date/tach)</p><p></p></td>
            </tr>
            <tr>
                <td>6-4-2026</td><td>0.02.44</td><td><p>limit the timetable to showing only the 5 most recent entries</p><p></p></td>
            </tr>
            <tr>
                <td>6-4-2026</td><td>0.02.43</td><td><p>maintenance items now turn yellow when the interval is 75% complete</p><p></p></td>
            </tr>
            <tr>
                <td>6-3-2026</td><td>0.02.42</td><td><p>maintenance items now turn red when overdue</p><p></p></td>
            </tr>
            <tr>
                <td>6-3-2026</td><td>0.02.41</td><td><p>add "maintenance type" option to front end</p><p></p></td>
            </tr>
            <tr>
                <td>6-3-2026</td><td>0.02.40</td><td><p>added "maintenance type" value to maintenance items</p><p></p></td>
            </tr>
            <tr>
                <td>6-3-2026</td><td>0.02.39</td><td><p>added alembic db migration suppport</p><p></p></td>
            </tr>
            <tr>
                <td>5-31-2026</td><td>0.02.38</td><td><p>added the ability to add single vs interval maintenance items</p><p></p></td>
            </tr>
            <tr>
                <td>5-31-2026</td><td>0.02.37</td><td><p>revamped the maintenance table back end</p><p></p></td>
            </tr>
            <tr>
                <td>5-30-2026</td><td>0.02.36</td><td><p>revamped the maintenance table front end</p><p></p></td>
            </tr>
            <tr>
                <td>5-29-2026</td><td>0.02.35</td><td><p>revamped the maintenance table front end</p><p></p></td>
            </tr>
            <tr>
                <td>5-29-2026</td><td>0.02.34</td><td><p>added "tach due" to maintenance items</p><p></p></td>
            </tr>
            <tr>
                <td>5-29-2026</td><td>0.02.33</td><td><p>added denormalized calculation for planes tach hour value</p><p></p></td>
            </tr>
            <tr>
                <td>5-29-2026</td><td>0.02.32</td><td><p>removed herobrine</p><p></p></td>
            </tr>
            <tr>
                <td>5-29-2026</td><td>0.02.31</td><td><p>removed serial value from engine</p><p></p></td>
            </tr>
            <tr>
                <td>5-26-2026</td><td>0.02.30</td><td><p>added denormalized calculation for tach time values on engine, etc</p><p></p></td>
            </tr>
            <tr>
                <td>5-26-2026</td><td>0.02.29</td><td><p>added engine and overhaul models</p><p></p></td>
            </tr>
            <tr>
                <td>5-22-2026</td><td>0.02.28</td><td><p>removed the ability to navigate to other users planes</p><p></p></td>
            </tr>
            <tr>
                <td>5-22-2026</td><td>0.02.27</td><td><p>added "time created" column to the timetable but now with only YMD</p><p></p></td>
            </tr>
            <tr>
                <td>5-22-2026</td><td>0.02.26</td><td><p>removed "time created" column from the timetable</p><p></p></td>
            </tr>
            <tr>
                <td>5-22-2026</td><td>0.02.25</td><td><p>removed "time created" column from the timetable</p><p></p></td>
            </tr>
            <tr>
                <td>5-22-2026</td><td>0.02.24</td><td><p>removed herobrine</p><p></p></td>
            </tr>
             <tr>
                <td>5-22-2026</td><td>0.02.23</td><td><p>more mobile friendly display changes</p><p></p></td>
            </tr>
            <tr>
                <td>5-22-2026</td><td>0.02.22</td><td><p>fixed time entry validation</p><p></p></td>
            </tr>
            <tr>
                <td>5-21-2026</td><td>0.02.21</td><td><p>fixed the tach time to display only to the nearest 2 decimal points</p><p></p></td>
            </tr>
            <tr>
                <td>5-21-2026</td><td>0.02.20</td><td><p>made mobile friendly display changes</p><p></p></td>
            </tr>
            <tr>
                <td>5-21-2026</td><td>0.02.19</td><td><p>added 'add maintenance item' route</p><p></p></td>
            </tr>
            <tr>
                <td>5-21-2026</td><td>0.02.18</td><td><p>added 'add time entry' route</p><p></p></td>
            </tr>
            <tr>
                <td>5-21-2026</td><td>0.02.17</td><td><p>added 'add plane' route</p><p></p></td>
            </tr>
            <tr>
                <td>5-21-2026</td><td>0.02.16</td><td><p>added missing account verification .html</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.15</td><td><p>added account verification</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.14</td><td><p>added redirect to the end of the register route</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.13</td><td><p>added plane model</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.12</td><td><p>swapped hobbs and tach time positions</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.11</td><td><p>saved passwords as salted hashes</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.10</td><td><p>add readme file</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.09</td><td><p>remove duplicate custom-body div from index.html</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.08</td><td><p>changed the maintenance value default value to 'status'</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.07</td><td><p>added maintenance schedule example</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.06</td><td><p>added table example</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.05</td><td><p>added plane selection example</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.04</td><td><p>removed plane model</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.03</td><td><p>removed time model</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.02</td><td><p>added plane and time models</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.02.01</td><td><p>layout fixes, navbar reacts to auth status</p><p></p></td>
            </tr>
            <tr>
                <td>5-20-2026</td><td>0.01.12</td><td><p>fixed the bug mentioned in the last patch</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.11</td><td><p>added login page, however a bug introduced in 1.01.07 caused an error with flask-login</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.10</td><td><p>added login page, however a bug introduced in 1.01.07 caused an error with flask-login</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.09</td><td><p>added "user already exists" protection</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.08</td><td><p>changed static urls to jinja's url_for() function</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.07</td><td><p>update model and create user on register</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.06</td><td><p>pass form data to flask</p><p></p></td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.05</td><td>removed unnecessary event.preventDefault statements from the form validation</td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.04</td><td>added form validation to the register form</td>
            </tr>
            <tr>
                <td>5-19-2026</td><td>0.01.03</td><td>added home and register page</td>
            </tr>
            <tr>
                <td>5-18-2026</td><td>0.01.02</td><td>debloated requirements.txt</td>
            </tr>
            <tr>
                <td>5-18-2026</td><td>0.01.01</td><td>site created - added requirements.txt</td>
            </tr>
        </table>
    </div>
</div>
</main>
</body>
{% include 'footer.html' %}

{% endblock %}